.conversation-box {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  background-image: url("../assets//static//upfeathers.png");
  background-repeat: repeat;
}

.message-row {
  width: 100%;
  padding: 1em;
}

.message {
  border-radius: 0.3em;
  height: 100%;
  position: relative;
  flex: none;
  line-height: 1.2em;
  color: #303030;
}

.message-date {
  float: right;
  font-size: 0.8em;
  color: #888;
  padding: 0.2em;
}

.message-state {
  float: right;
  color: #888;
  font-size: 0.8em;
  padding: 0.2em;
}

.message-content {
  padding: 0.5em;
  position: relative;
  z-index: 200;
}

.message-in {
  background-color: white;
}

.message-in-arrow {
  color: snow !important;
  position: absolute;
  display: block;
  top: -0.3em;
  z-index: 100;
  left: -8px;
  width: 8px;
  height: 13px;
}

.message-out {
  background-color: #c6f5f8;
}

.message-out-arrow {
  color: #c6f5f8;
  position: absolute;
  display: block;
  top: -0.3em;
  z-index: 100;
  right: -8px;
  width: 8px;
  height: 13px;
}

.online-dot {
  z-index: 100;
  position: absolute;
  margin-top: 32px;
  margin-left: -16px;
  height: 16px;
  width: 16px;
  background-color: #81de26;
  border-radius: 50%;
  display: inline-block;
}

.user-row:hover {
  background-color: #eee;
}

.user-row:active {
  background-color: #fff;
}

.window-error {
  width: 25vw;
  position: fixed;
  z-index: 500;
  top: 2em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
